<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(/assets/images/bg-01.jpg);">
        <span class="login100-form-title-1">
          Se connecter
        </span>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="checkLogin()"  method="POST" class="login100-form validate-form" >
        <div class="wrap-input100 validate-input m-b-26" >
          <span class="label-input100">Pseudo</span>
          <input class="input100" type="text" formControlName="username" placeholder="Entre votre mail" required>
        </div>


        <div class="wrap-input100 validate-input m-b-18" >
          <span class="label-input100">Mot de passe</span>
          <input class="input100" type="password" formControlName="userpassword" placeholder="Entrer votre mot de passe" required>
        </div>

        <div class="wrap-input100 validate-input m-b-18" >
          <span class="label-input100">Région</span>
          <select class="form-control" formControlName="region">
            <option *ngFor="let region of listRegion" value="{{region.id_region}}">{{region.region}}</option>
          </select>
        </div>




        <div class="alert alert-danger" role="alert" *ngIf="message" style="width: 393px;">
          {{message}}!
        </div>

        <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

          <div>
            <a href="#" class="txt1">
              Forgot Password?
            </a>
          </div>
        </div>


        <div class="container-login100-form-btn">
          <input type="submit" value="Se Connecter" class="login100-form-btn">
        </div>
      </form>
    </div>
  </div>
</div>
